/*样式重置*/
body, html {
	/* width: 100%; */
	height: 100%;
	overflow: hidden;
}
body,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,dt{
	margin:0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none!important;
	color: #ffffff!important;
}
body{
	font-size: 14px!important;
	font-family: "微软雅黑";
	color: #fff;
	/* background-color: #f6f6f6; */
}
img,input{
	border:0;
	outline: none;
	vertical-align: middle;
}
table{
	border-collapse: collapse;
}
/*设置一些公用的类*/
.clear:after{
	display: block;
	content: "";
	clear: both;
}
/*IE兼容*/
.clear{
	zoom: 1;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*设置版心*/
.bx{
	width: 98%;
	margin:0 auto;
}